<!DOCTYPE html>
<html lang="en">
<head>
    <title>atomicradio</title>
<link rel="stylesheet" href="style.css">    
<link rel="shortcut icon" href="images/icon.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          integrity="sha512-oc9+XSs1H243/FRN9Rw62Fn8EtxjEYWHXRvjS43YtueEewbS6ObfXcJNyohjHqVKFPoXXUxwc+q1K7Dee6vv9g=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.css"
          integrity="sha512-jrLDXl9jUPe5DT19ukacvpX39XiErIBZxiaVMDFRe+OAKoBVYO126Dt7cvhMJ3Fja963lboD9DH+ev/2vbEnMw=="
          crossorigin="anonymous"/>

</head>

<body style="background-color: #13171b;zoom: 1.4;">
<br>
<br>
<br>

        <img id="ost_image" class="mx-auto d-block"
        style="max-height: 80px;" alt="album cover"
        src="images/widelogo.png"/>
</div>
<br>
<br>
<br>
<br>
<div class="text-test">🔊 tune in!</div>
<div class="container mx-auto">
        <div class="channel-boxes mx-auto shadow">
                <div id="player_title"></div>
                <div>
                </div>
                <div>
                    <audio autoplay; id="player" controls; style="--plyr-audio-control-color: #fff; --plyr-audio-controls-background: #fff0; --plyr-color-main: #ffffff54; --plyr-control-icon-size: 30px;">
                        <source src="http://stream.laut.fm/radio-dance-eu"
                                type="audio/mp3"/>
                    </audio>
                </div>
<script type="text/javascript" src="//api.laut.fm/js_tools/lautfm_js_tools.0.10.0.js.min.js" ></script>

<div id="api_lfm_current_song1_2" class="title-text">Loading...</div>
<script type="text/html" id="current_song_template1_2" charset="utf-8">
<%= "" + this.title + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radio-dance-eu') 
.current_song({container:'api_lfm_current_song1_2', template:'current_song_template1_2'}, true); </script>
</script>
<div id="api_lfm_current_song1_1" class="artist-text">Loading...</div>
<script type="text/html" id="current_song_template1_1" charset="utf-8">
<%= "" + this.artist.name + "" %>
</script> 
<script type="text/javascript" charset="utf-8"> laut.fm.station('radio-dance-eu') 
.current_song({container:'api_lfm_current_song1_1', template:'current_song_template1_1'}, true); </script>
</script>


        </div>
    </div>
</div>

<br>

<div id="api_lfm_listener" class="listeners-text2">🎧 <span id="listener" class="listeners-text">Loading...</span> Listeners</div>
<script type="text/javascript" charset="utf-8">
var hoerer = document.getElementById('listener');
var show_listeners = function(listeners){ listener.innerHTML = listeners}
laut.fm.station('radio-dance-eu').listeners(show_listeners, true);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"
        integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.polyfilled.min.js"
        integrity="sha512-7kq7qBtasB6e1rth7fGAVQI6HvobtSHWKqIjsEr+21l2spvu8ZRXvRukXPTEPrExSDXpUHI5FH6xlgGZNNCgeQ=="
        crossorigin="anonymous"></script>
<script src="./app.js"></script>

</body>
</html>
